body{
    font-family: Arial, Helvetica, sans-serif;
}
.text-red{
    color:red
}
.text-green{
    color: green;
}
.bg-dark{
    background-color: yellow;
}
*{
    background-color: rgb(254, 159, 15);
}