body{
    font-family: 'poppins', sans-serif;
    color: #444;
    /* margin: top-botton  left-right; */
    margin: 0px 50px;
}
a{
    color: #444;
    text-decoration: none;
}
h1,h2,h3{
    color: #222;
}
h2{
    border-bottom: 1px solid #444;
}
nav{
    background-color: #cecece;
}
nav ul{
    border: 2px solid green;
    padding-left: 0px ;
    text-align: center;
}
nav li{
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid #444;
    margin: 15px 20px;
    font-size: 20px;
    text-transform: uppercase;
}
